* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Times New Roman';

}
body {
    background: rgb(80, 34, 34);
    color: rgb(8, 8, 8); 
    overflow: hidden;
    overflow-y: scroll;
}
header {
    height: 100px; /* Adjust the height as needed */
    background: rgb(201, 220, 233); /* Set your preferred background color */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    /* Add any other header styles you want */
}
footer{
    background: #e8f3f6; /* Set your preferred background color */
}


a{
    text-decoration: none !important;
}






